In [1]:
# Import dependencies
from citipy import citipy
import pandas as pd
import numpy as np
import json 
import requests
import timeit

import matplotlib.pyplot as plt
from datetime import datetime

import gmaps
import requests

In [2]:
pip install config

Requirement already satisfied: config in c:\users\assua\anaconda3\envs\pythondata\lib\site-packages (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
city_data_df = pd.read_csv("./Resources/Average Temperature of Cities.csv")
city_data_df.head(10)

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Continent
0,Algeria,Algiers,11.2\n(52.2),11.9\n(53.4),12.8\n(55.0),14.7\n(58.5),17.7\n(63.9),21.3\n(70.3),24.6\n(76.3),25.2\n(77.4),23.2\n(73.8),19.4\n(66.9),15.2\n(59.4),12.1\n(53.8),17.4\n(63.3),AFRICA
1,Algeria,Tamanrasset,12.8\n(55.0),15.0\n(59.0),18.1\n(64.6),22.2\n(72.0),26.1\n(79.0),28.9\n(84.0),28.7\n(83.7),28.2\n(82.8),26.5\n(79.7),22.4\n(72.3),17.3\n(63.1),13.9\n(57.0),21.7\n(71.1),AFRICA
2,Algeria,Reggane,16.0\n(60.8),18.2\n(64.8),23.1\n(73.6),27.9\n(82.2),32.2\n(90.0),36.4\n(97.5),39.8\n(103.6),38.4\n(101.1),35.5\n(95.9),29.2\n(84.6),22.0\n(71.6),17.8\n(64.0),28.3\n(82.9),AFRICA
3,Angola,Luanda,26.7\n(80.1),28.5\n(83.3),28.6\n(83.5),28.2\n(82.8),27.0\n(80.6),23.9\n(75.0),22.1\n(71.8),22.1\n(71.8),23.5\n(74.3),25.2\n(77.4),26.7\n(80.1),26.9\n(80.4),25.8\n(78.4),AFRICA
4,Benin,Cotonou,27.3\n(81.1),28.5\n(83.3),28.9\n(84.0),28.6\n(83.5),27.8\n(82.0),26.5\n(79.7),25.8\n(78.4),25.6\n(78.1),26.0\n(78.8),26.7\n(80.1),27.6\n(81.7),27.3\n(81.1),27.2\n(81.0),AFRICA
5,Benin,Parakou,26.5\n(79.7),28.7\n(83.7),29.6\n(85.3),29.0\n(84.2),27.5\n(81.5),26.1\n(79.0),25.1\n(77.2),24.7\n(76.5),25.0\n(77.0),26.1\n(79.0),26.6\n(79.9),26.1\n(79.0),26.8\n(80.2),AFRICA
6,Benin,Kandi,24.9\n(76.8),27.8\n(82.0),30.9\n(87.6),32.1\n(89.8),30.4\n(86.7),28.1\n(82.6),26.4\n(79.5),26.0\n(78.8),26.2\n(79.2),27.8\n(82.0),26.5\n(79.7),24.8\n(76.6),27.7\n(81.9),AFRICA
7,Botswana,Maun,25.4\n(77.7),25.1\n(77.2),24.2\n(75.6),22.6\n(72.7),18.7\n(65.7),15.7\n(60.3),15.8\n(60.4),18.8\n(65.8),23.1\n(73.6),26.6\n(79.9),26.4\n(79.5),25.8\n(78.4),22.4\n(72.3),AFRICA
8,Botswana,Gaborone,26\n(79),25\n(77),24\n(75),21\n(70),17\n(63),13\n(55),13\n(55),17\n(63),21\n(70),23\n(73),25\n(77),25\n(77),21\n(70),AFRICA
9,Botswana,Ghanzi,25.9\n(78.6),25.3\n(77.5),24.1\n(75.4),21.2\n(70.2),17.6\n(63.7),14.3\n(57.7),14.1\n(57.4),17.1\n(62.8),21.5\n(70.7),24.6\n(76.3),25.7\n(78.3),26.1\n(79.0),21.4\n(70.5),AFRICA