In [5]:
import pandas as pd

In [6]:
cities_temp = pd.read_csv('../Climate/AverageTemperatureofCities.csv')

In [7]:
cities_temp

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Continent
0,Algeria,Algiers,11.2\n(52.2),11.9\n(53.4),12.8\n(55.0),14.7\n(58.5),17.7\n(63.9),21.3\n(70.3),24.6\n(76.3),25.2\n(77.4),23.2\n(73.8),19.4\n(66.9),15.2\n(59.4),12.1\n(53.8),17.4\n(63.3),AFRICA
1,Algeria,Tamanrasset,12.8\n(55.0),15.0\n(59.0),18.1\n(64.6),22.2\n(72.0),26.1\n(79.0),28.9\n(84.0),28.7\n(83.7),28.2\n(82.8),26.5\n(79.7),22.4\n(72.3),17.3\n(63.1),13.9\n(57.0),21.7\n(71.1),AFRICA
2,Algeria,Reggane,16.0\n(60.8),18.2\n(64.8),23.1\n(73.6),27.9\n(82.2),32.2\n(90.0),36.4\n(97.5),39.8\n(103.6),38.4\n(101.1),35.5\n(95.9),29.2\n(84.6),22.0\n(71.6),17.8\n(64.0),28.3\n(82.9),AFRICA
3,Angola,Luanda,26.7\n(80.1),28.5\n(83.3),28.6\n(83.5),28.2\n(82.8),27.0\n(80.6),23.9\n(75.0),22.1\n(71.8),22.1\n(71.8),23.5\n(74.3),25.2\n(77.4),26.7\n(80.1),26.9\n(80.4),25.8\n(78.4),AFRICA
4,Benin,Cotonou,27.3\n(81.1),28.5\n(83.3),28.9\n(84.0),28.6\n(83.5),27.8\n(82.0),26.5\n(79.7),25.8\n(78.4),25.6\n(78.1),26.0\n(78.8),26.7\n(80.1),27.6\n(81.7),27.3\n(81.1),27.2\n(81.0),AFRICA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,Peru,Lima,22.1\n(71.8),22.7\n(72.9),22.2\n(72.0),20.6\n(69.1),18.8\n(65.8),17.5\n(63.5),16.7\n(62.1),16.2\n(61.2),16.4\n(61.5),17.3\n(63.1),18.7\n(65.7),20.7\n(69.3),19.2\n(66.6),South America
447,Peru,Piura,26.8\n(80.2),27.8\n(82.0),27.8\n(82.0),26.6\n(79.9),24.5\n(76.1),22.9\n(73.2),21.8\n(71.2),21.9\n(71.4),22.3\n(72.1),22.9\n(73.2),23.6\n(74.5),25.2\n(77.4),24.5\n(76.1),South America
448,Suriname,Paramaribo,26.0\n(78.8),26.0\n(78.8),26.2\n(79.2),26.7\n(80.1),26.5\n(79.7),26.5\n(79.7),26.7\n(80.1),27.4\n(81.3),27.8\n(82.0),27.9\n(82.2),27.3\n(81.1),26.4\n(79.5),26.8\n(80.2),South America
449,Uruguay,Montevideo,23.0\n(73.4),22.5\n(72.5),20.6\n(69.1),17.2\n(63.0),14.0\n(57.2),11.1\n(52.0),10.9\n(51.6),11.7\n(53.1),13.4\n(56.1),16.0\n(60.8),18.6\n(65.5),21.3\n(70.3),16.7\n(62.1),South America
450,Venezuela,Caracas,20.2\n(68.4),20.8\n(69.4),21.7\n(71.1),22.7\n(72.9),23.2\n(73.8),22.6\n(72.7),22.2\n(72.0),22.3\n(72.1),22.7\n(72.9),22.4\n(72.3),22.0\n(71.6),20.7\n(69.3),22.0\n(71.6),South America